<h1>All <%= @restaurants.count %> restaurants</h1>

<%= link_to "Create new restaurant", new_restaurant_path %>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %> <%= '*' * restaurant.rating %></li>
    <p><%= restaurant.address %></p>
  <% end %>
</ul>
