<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.rating %></p>

<%= link_to "Home", restaurants_path %>
<%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %>
<%= button_to "Delete #{@restaurant.name}",
            restaurant_path(@restaurant),
            method: :delete %>
